.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;
    }

    .right {
        flex: 0.5;
        position: relative;
    }

    .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding-left: 25px;
        justify-content: center;
        align-items: flex-start;


    }

    .wrapper h1 {
        font-size: 60px;
        margin: 10px 0;
        color: red;
    }

    .wrapper h2 {
        font-size: 35px;
    }

    .wrapper h3 {
        font-size: 30px;
    }

    .wrapper a {
        position: absolute;
        bottom: 10px;
        left: 40%;
    }

    .wrapper a img {
        width: 30px;
        animation: arrowBlink 2s infinite;
    }

    
}
@keyframes arrowBlink {
    100%{
        opacity: 0;
    }
}
.imageConatiner {
    height: 700px;
    width: 700px;
    background-color: chocolate;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {

        height: 90%;
    }
}